<a href="https://colab.research.google.com/github/julija-dmrk/data-mining/blob/main/CNN01_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
from keras.models import Sequential
import pandas as pd
from keras.layers import Dense

In [3]:
url="https://raw.githubusercontent.com/erinijapranckeviciene/MLdata/main/Kaggle-data-suic.csv"
data = pd.read_csv(url, delimiter=',')

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [10]:
data['year'] = data["country-year"].str[-4:]
data['country'] = data["country-year"].str.split("\d+", expand = True)[0]
data.drop(["country-year"], axis=1, inplace=True)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 11 columns]

In [12]:
data.rename(columns={'gdp_for_year ($)':'gdp_year', 'gdp_per_capita ($)':'gdp_capita', 'suicides/100k pop':'suicide_norm', "HDI for year":"hdi_year"}, inplace=True)
x = data.drop(["gdp_capita", "generation", "country", "hdi_year", "suicides_no", "suicide_norm"], axis = 1)
x = pd.get_dummies(x, columns=["sex", "age", "year"])

       population  gdp_for_year ($)   ...  year_2015  year_2016
0          312900      2,156,624,900  ...          0          0
1          308000      2,156,624,900  ...          0          0
2          289700      2,156,624,900  ...          0          0
3           21800      2,156,624,900  ...          0          0
4          274300      2,156,624,900  ...          0          0
...           ...                ...  ...        ...        ...
27815     3620833     63,067,077,179  ...          0          0
27816      348465     63,067,077,179  ...          0          0
27817     2762158     63,067,077,179  ...          0          0
27818     2631600     63,067,077,179  ...          0          0
27819     1438935     63,067,077,179  ...          0          0

[27820 rows x 42 columns]